<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSBeerApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE4942B22D043CDF00EFCE36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4942C22D043CE000EFCE36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4942CC2D043CE000EFCE36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
